@import "_colores";

.jumbotron {
  background-image: url("../multimedia/Atacama3.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Call
.call h1 {
  color: $color-texto-call;
  width: 100%;
  padding: 238px;
  text-align: center;
  font-size: 62px;
  text-shadow: 2px 2px 10px #000000;
}

@media (max-width: 576px) {
  .jumbotron {
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.display-4 {
  text-align: center;
  color: $color-texto-jumbotron;
  text-shadow: 2px 2px 4px rgba(19, 10, 10, 0.5);
}


// Logo
.logo {
  flex-grow: 1;
}
.logo img {
  width: 100px;
  height: 50px;
}

// Barra
.barra a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 23px;
}
.barra a:hover {
  color: rgb(210, 9, 177);
}

// Carousel
#carouselExampleIndicators {
  height: 500px;
  margin: auto;
}

@media (max-width: 576px) {
  #carouselExampleIndicators {
    width: 80%;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  #carouselExampleIndicators {
    width: 70%;
  }
}
@media (min-width: 992px) {
  #carouselExampleIndicators {
    width: 50%;
  }
}


// Titulo
#Titulo .row #sec1 {
  text-transform: uppercase;
  margin-top: 200px;
  color: $color-texto-seccion;
}

.row .innerSec1 {
  text-align: center;
}

// Seccion
.seccion {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 130px;
  margin-top: 10px;
}

.bloque {
  text-align: center;
  margin: 20px;
}
.bloque img {
  width: 100px;
  height: auto;
}
.bloque p {
  margin-top: 10px;
  text-align: center;
}

// Slider
.bloque-slider {
  text-align: center;
}
.bloque-slider img {
  width: 100px;
  height: auto;
}

#sec1 {
  margin-bottom: 20px;
}

.innerSec1 {
  margin-bottom: 70px;
}

.bloque-slider p {
  margin-bottom: 90px;
  margin-top: 10px;
  text-align: center;
}

  
  /* fin slider */