$color-principal: #ff0000;
$color-navbar: rgb(224, 224, 245);
$color-texto-navbar: rgb(117, 115, 115);
$color-enlace-navbar: #201f1f;
$color-enlace-hover-navbar: rgb(101, 69, 176);
$color-texto-jumbotron: #ffffff;
$color-texto-call: white;
$color-texto-seccion: darkblue;
$color-texto-contacto: #333;
$color-fondo-contacto: #ffffff;
$color-texto-titulo: #202020;
$color-fondo-footer: #2d2f46;
$color-texto-footer: #ffd0ea;
$color-fondo-botones-formulario: rgb(243, 176, 255);