@import "_colores";

main .contacto {
  background-color: $color-fondo-contacto;
  padding-bottom: 10%;
}
main .contacto h1 {
  color: $color-texto-contacto;
  text-align: center;
  padding: 20px;
}


form {
  margin-top: 20px;
  margin-left: 35%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: $color-texto-contacto;
}

input, textarea {
  display: block;
  width: 50%;
  padding: 10px;
  border: 2px solid $color-texto-contacto;
  border-radius: 2px;
  font-size: 16px;
  margin-bottom: 10px;
}

.btnFormulario {
  background-color: $color-boton;
  color: $color-texto-call;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 18px;
}
.btnFormulario:hover {
  background-color: $color-boton-active; 
  border-color: $color-boton-active
}
  
  /* fin formulario */
  