@import "_colores";
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px; 
    transition: transform 0.3s ease;
    height: 100%; 
    align-items: center; 
}

.card:hover {
    transform: translateY(-5px); 
}

.card-img-top {
    flex: 1; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    object-fit: cover;
}

.card-body {
    padding: 1.25rem;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card-title {
    font-size: 1.25rem; 
    margin-bottom: 0.75rem; 
}

.card-text {
    color: #666; 
}

.btn-primary {
    background-color: $color-boton; 
    border-color: $color-boton;
}

.btn-primary:hover {
    background-color: $color-boton-active; 
    border-color: $color-boton-active
}
