* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import "_navbar";
  @import "_body";
  @import "_contacto";
  @import "_galeria";
  @import "_tour";
  @import "_colores";
  @import "_nosotros";
  @import "_footer";